doctype html
html
  head
    title= title
  body
    h1.home__title Custom Object Records

    a.home__link(href="/update-cobj") Add to this table

    table(border="1")
      thead
        tr
          th name
          th domain
          th description

      tbody
        each company in companies
          tr
            td= company.properties.name
            td= company.properties.domain
            td= company.properties.description