doctype html
html
  head
    title= title
  body
    h1 Custom Object Records

    a(href="/update-cobj") Add to this table

if companies.length
      each company in companies
        div
          p Property 1: #{company.properties.name}
          p Property 2: #{company.properties.domain}
          p Property 3: #{company.properties.description}
          hr
else
    p No records found.