doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Update custom objects
    a(href="/") Return to the homepage

    form.form-wrapper(action="/update-cobj" method="POST")
      label Company Name
      input(type="text" name="name")

      label Company Domain
      input(type="text" name="domain")

      label Description
      input(type="text" name="description")

      button(type="submit") Submit  