doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body
    h1.home__title Update custom objects

    div.home__wrapper
      div.home__icon--back ⬅️
      a.home__link(href="/") Return to the homepage

    form.form-wrapper(action="/update-cobj" method="POST")
      label Company Name
      input(type="text" name="name")

      label Company Domain
      input(type="text" name="domain")

      label Archived
      input(type="text" name="archived")

      button(type="submit") Submit  